/* Este código afecta al body entero de todas las páginas para asignar el tipo de letra, color de fondo y color de la letra */

body {
    background-color: #1d2a35;
    color: antiquewhite;
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* Este código afecta a los elementos del menú, sin decoración de texto, texto alineado al centro, con una separación de 14px arriba y abajo y de 16px a los lados. Los elementos se colocarán a la izquierda y además establece el contenedor de manera flexible.*/

#tel {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Establece un color de fondo, no deja margen ni relleno, además de quitar el marcador de la lista desordenada. Establece el elemento como un bloque, cualquier contenido que se extienda más allá del área definida para el elemento se recortará y no será visible para el usuario.*/

#links {
    list-style-type:none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e0737;    
}

/* Hace que el fondo del elemento se pinte de verde. */

#tel.inicio {
    background-color: #04AA6D;
}