body {
    background-color: #1d2a35;
    color: antiquewhite;
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#fondo {
    background-color: #333;
}

#tel {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

#links {
    list-style-type:none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border:1px solid rgb(21, 255, 52);
}

#tel.inicio {
    background-color: #04AA6D;
    border:1px solid rgb(21, 255, 52);
}