



/*Cogemos el texto le cambiamos el color y le aumentamos la letra y lo alineamos en el centro*/
h1{
    color: #e1c160;
    font-size: 40px;
    text-align: center;
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
/*Cogemos el texto le cambiamos el color y lo alineamos en el centro*/
h2{
    color: #e1c160;
    text-align: center;
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}



/*en el responsive de movil de damos a todo 100% de with para que sea bien en el movil todo el contenido*/
@media (max-width: 767px){
    div{
        width: 100%;
    }
    img{
        width: 99%;
    }
  
    
    

}
/*pone los elemtos en el centro ala imagen le damos un maximo de 99% de ancho*/
@media (min-width: 768px) and (max-width: 990px){
    #prueba{
        display: inline;
        align-items: center;
        max-width: 5px;
        padding: 5px;
    }
    img.prueba1{
        max-width: 99%;
    }
    p.prueba2{
        flex: 1;
    }
    
}
/**para el responsive del escritorio convierte un contenedor en un contenedor flexible*/
@media (min-width: 991px){
    #prueba{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    img.prueba1{
        max-width: 100%;
    }
    p.prueba2{
        flex: 1;
    }
    
    #logo{
        width: 100px;
    }
    
   
    
   

   
    
}

    
