/*Cogemos el texto le cambiamos el color y le aumentamos la letra y lo alineamos en el centro*/

#prueba {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Éste simplemente edita el ancho máximo de las imagenes metidas dentro de los elementos con la clase prueba1 */

img.prueba1 {
    max-width: 99%;
}

/* Éste edita el ancho máximo de los párrafos metidos dentro de los elementos con la clase prueba2 */

p.prueba2 {
    flex: 1;
}

/* Este @media está pensado para cómo se verá en móvil. */

@media (max-width: 767px) {
    #prueba {
        display: inline;
        align-items: center;
        max-width: 5px;
        padding: 5px;
    }

    img.prueba1 {
        max-width: 99%;
    }

    p.prueba2 {
        flex: 1;
    }
}

/* Este @media está pensado para cómo se verá en tablet. */

@media (min-width: 768px) and (max-width: 990px) {
    #prueba {
        display: inline;
        align-items: center;
        max-width: 5px;
        padding: 5px;
    }

    img.prueba1 {
        max-width: 99%;
    }

    p.prueba2 {
        flex: 1;
    }
}

/* Este @media está pensado para cómo se verá en escritorio. */

@media (min-width: 991px) {
    #prueba {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img.prueba1 {
        max-width: 100%;
    }

    p.prueba2 {
        flex: 1;
    }

    h1,h2 {
        color: #e1c160;
        font-size: 40px;
        text-align: center;
        font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }   
}