body {
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#tit {
    color: #e1c160;
    font-size: 40px;
    text-align: center;
    font-family: "Red Hat Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.div1 {
    text-align: center;
}

table {
    text-align: center;
    border: 1px solid whitesmoke;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

tr, td, th {
    border: 1px solid whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elem {
    text-decoration: underline;
}